<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slacker New News</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <h1>Slacker New News Aggregator</h1>
    <h3>Articles:</h3>

    <ul>
        <li>
          <%= @article_title %> - <a href="<%= @article_url %>"><%= @article_url %></a> Description: <%= @article_description %>
        </li>
    </ul>
  <a href="/articles/new">Submit an Article to Slacker News</a>
  </body>
</html>
