<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slacker New News</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <h1>Slacker New News Aggregator</h1>
    <h3>Articles:</h3>
    <ul>
      <% @articles.each do |row| %>
        <% @article_title = row[0] %>
        <% @article_url = row[1] %>
        <% @article_description = row[2] %>
        <li>
          <strong><%= @article_title %></strong> - <a href="<%= @article_url %>"><%= @article_url %></a> <strong>Description: </strong><%= @article_description %>
        </li>
      <% end %>
    </ul>
  <div class="submit_link">
    <a href="/articles/new">Submit an Article to Slacker News</a>
  </div>
  </body>
</html>
