<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slacker News Aggregator</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body class="submission_page">
    <h1>Slacker News Aggregator</h1>
    <h3>Submit a New News Article</h3>

    <form action="/articles" method="post">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />
      </div>
      <div>
        <label for="url">URL:</label>
        <input type="url" id="url" name="url" />
      </div>
      <div>
        <label for="description">Description:</label>
      </div>
      <div>        
        <textarea id="description" name="description"></textarea>
      </div>
      <input type="submit">
    </form>

  </body>
</html>
